<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>Scattercode FX Web</display-name>

  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
<!-- 
  <context-param>
    <param-name>locatorFactorySelector</param-name>
    <param-value>classpath*:META-INF/spring/beanRefContext.xml</param-value>
  </context-param>

  <context-param>
    <param-name>parentContextKey</param-name>
    <param-value>ibanweb.context</param-value>
  </context-param>
 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Reads request input using UTF-8 encoding -->
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <error-page>
    <error-code>403</error-code>
    <location>/error/403.jsp</location>
  </error-page>

  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
    </taglib>
  </jsp-config>

  <!--  The Spring MVC dispatcher servlet -->
  <servlet>
    <servlet-name>iban-web</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!--
  Map "/" to the Spring MVC servlet. This sets it up as the default
  servlet. For some reason it doesn't seem to work correctly if we map
  it explicitly. Further down, we use extension mappings to explicitly
  override this default for static content.
  -->
  <servlet-mapping>
    <servlet-name>iban-web</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!--
  To get REST behaviour, Spring MVC needs to be mapped to "/".
  Unfortunately, that leads to the static content on the site being
  handled by the Spring dispatcher. We override this by providing
  patterns for all directories that contain static content.
  -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
    <url-pattern>/favicon.ico</url-pattern>
  </servlet-mapping>

</web-app>
